#### Contents of the preconfiguration file (for &releasename;)

### Automatic Installation
d-i auto-install/enable boolean true
d-i debconf/priority select critical

### Localization
d-i debian-installer/language string en
d-i debian-installer/country string DE
d-i debian-installer/locale string en_US.UTF-8
d-i localechooser/supported-locales multiselect en_US.UTF-8
d-i pkgsel/install-language-support boolean true
d-i console-setup/ask_detect boolean false
d-i console-setup/layoutcode string de
d-i keyboard-configuration/modelcode string pc105
d-i keyboard-configuration/layoutcode string de
d-i keyboard-configuration/variantcode string nodeadkeys
d-i keyboard-configuration/xkb-keymap select de(nodeadkeys)
d-i debconf/language string en_US:en

### Network configuration
# interface selection is done via kernel boot parameter
d-i netcfg/link_wait_timeout string 30
d-i netcfg/dhcp_timeout string 60
d-i netcfg/dhcp_failed note
d-i netcfg/get_hostname string unassigned-hostname
d-i netcfg/get_domain string unassigned-domain
d-i netcfg/hostname string {{ host_name }}
d-i netcfg/wireless_wep string
d-i hw-detect/load_firmware boolean true

### Mirror settings
d-i mirror/country string manual
d-i mirror/http/hostname string de.archive.ubuntu.com
d-i mirror/http/directory string /ubuntu
d-i mirror/http/proxy string {{ installation_proxy }}

### Clock and time zone setup
d-i clock-setup/utc boolean true
d-i time/zone string Europe/Berlin
d-i clock-setup/ntp boolean true

### Partitioning
d-i partman-efi/non_efi_system boolean true
d-i partman-auto/disk string /dev/nvme0n1
d-i partman-auto/method string lvm
d-i partman-basicfilesystems/choose_label string gpt
d-i partman-basicfilesystems/default_label string gpt
d-i partman-partitioning/choose_label string gpt
d-i partman-partitioning/default_label string gpt
d-i partman/choose_label string gpt
d-i partman/default_label string gpt
d-i partman-auto/cap-ram {{ ram_size }}
d-i partman-lvm/device_remove_lvm boolean true
d-i partman-md/device_remove_md boolean true
d-i partman-lvm/confirm boolean true
d-i partman-lvm/confirm_nooverwrite boolean true
d-i partman-auto/purge_lvm_from_device boolean true
d-i partman-basicfilesystems/no_swap boolean false
d-i partman-auto-lvm/guided_size string max
d-i partman-auto/choose_recipe select atomic
d-i partman/default_filesystem string ext4
d-i partman-auto-lvm/new_vg_name string system-vg
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true

### Account setup
d-i passwd/user-fullname string {{ user.fullname }}
d-i passwd/username string {{ user.login }}
d-i passwd/user-password password {{ user.password }}
d-i passwd/user-password-again password {{ user.password }}
d-i user-setup/allow-password-weak boolean true
d-i user-setup/encrypt-home boolean false

### Apt setup
d-i apt-setup/use_mirror boolean false

### Kernel installation
d-i base-installer/kernel/altmeta string hwe-18.04

### Package selection
tasksel tasksel/first multiselect ubuntu-server
d-i pkgsel/include string openssh-server build-essential
d-i pkgsel/upgrade select none
d-i pkgsel/language-packs multiselect en
d-i pkgsel/install-language-support boolean false
d-i pkgsel/update-policy select none
d-i pkgsel/updatedb boolean true
d-i debian-installer/quiet boolean false
d-i debian-installer/splash boolean false

### Boot loader installation
d-i grub-installer/bootdev string default
d-i grub-installer/only_debian boolean true
d-i grub-installer/with_other_os boolean true
d-i grub-installer/timeout string 0

### Finishing up the installation
d-i finish-install/reboot_in_progress note

### Preseeding other packages

#### Advanced options
d-i preseed/early_command string kill-all-dhcp; netcfg
d-i preseed/late_command string in-target mkdir /home/{{ user.login }}/.ssh; \
                                in-target sh -c 'echo "{{ user.ssh_pub_key }}" >> /home/{{ user.login }}/.ssh/authorized_keys'; \
                                in-target chown -R {{ user.login }}:{{ user.login }} /home/{{ user.login }}/.ssh; \
                                in-target sh -c 'echo "{{ user.login }} ALL=(ALL) NOPASSWD: /sbin/poweroff, /sbin/reboot, /sbin/shutdown" >> /etc/sudoers.d/{{ user.login }}'; \
                                in-target chmod 440 /etc/sudoers.d/{{ user.login }}; \
                                in-target /bin/sed -i "s/XKBMODEL=\"[a-z]*\"/XKBMODEL=\"pc105\"/g" /etc/default/keyboard; \
                                in-target /bin/sed -i "s/XKBLAYOUT=\"[a-z]*\"/XKBLAYOUT=\"de\"/g" /etc/default/keyboard; \
                                in-target /bin/sed -i "s/XKBVARIANT=\"[a-z]*\"/XKBVARIANT=\"nodeadkeys\"/g" /etc/default/keyboard; \
                                in-target /bin/sed -i "s/XKBOPTIONS=\"[a-z]*\"/XKBOPTIONS=\"\"/g" /etc/default/keyboard; \
                                in-target /usr/sbin/dpkg-reconfigure -fnoninteractive keyboard-configuration; \
                                in-target /usr/sbin/update-locale LC_TIME=en_US.UTF-8 LC_MESSAGES=POSIX; \
                                in-target sh -c 'echo "GRUB_RECORDFAIL_TIMEOUT=0" >> /etc/default/grub'; \
                                in-target /bin/sed -i "s/#GRUB_GFXMODE=[0-9a-z]*/GRUB_GFXMODE=800x600/g" /etc/default/grub; \
                                in-target /bin/sed -i "s/GRUB_CMDLINE_LINUX_DEFAULT=\"[a-z]*\"/GRUB_CMDLINE_LINUX_DEFAULT=\"nomodeset\"/g" /etc/default/grub; \
                                in-target /usr/sbin/update-grub
ubiquity ubiquity/summary note
