<volume type='file'>
  <name>{{ inventory_hostname_short }}_k8s_{{ item }}.qcow2</name>
  <source>
  </source>
  <capacity unit='G'>{{ guest_base_volume_capacity }}</capacity>
  <target>
    <path>{{ data_lv_mount_point }}/{{ libvirt_storage_directory }}/{{ libvirt_storage_pool }}/{{ inventory_hostname_short }}_k8s_{{ item }}.qcow2</path>
    <format type='qcow2'></format>
    <permissions>
      <mode>0600</mode>
      <owner>{{ getent_passwd['libvirt-qemu'][1] }}</owner>
      <group>{{ getent_passwd['libvirt-qemu'][2] }}</group>
    </permissions>
  </target>
  <backingStore>
    <path>{{ data_lv_mount_point }}/{{ libvirt_storage_directory }}/{{ libvirt_storage_pool }}/{{ guest_os_cloud_image }}.qcow2</path>
    <format type='qcow2'/>
    <permissions>
      <mode>0744</mode>
      <owner>{{ getent_passwd['libvirt-qemu'][1] }}</owner>
      <group>{{ getent_passwd['libvirt-qemu'][2] }}</group>
    </permissions>
  </backingStore>
</volume>
