---

libvirt_network_name: kubernetes
libvirt_network_guest_mac_prefix: '52:54:00:7e:'

libvirt_storage_directory: storage_pools
libvirt_storage_pool: kubernetes

libvirt_service_start_grace_period: 60

libvirt_guest_range_max: '{{ libvirt_guests_per_host + 1 }}'

guest_os_cloud_image: CentOS-7-x86_64-GenericCloud
guest_os_cloud_image_url: https://cloud.centos.org/centos/7/images/{{ guest_os_cloud_image }}.qcow2.xz
guest_os_cloud_image_cache_url: http://192.168.3.1:8080/{{ guest_os_cloud_image }}.qcow2.xz

guest_system_volume_capacity: 10

guest_data_volume_partitions: [
    { "index": 5, "size": 7 }, { "index": 6, "size": 13 }, { "index": 7, "size": 25 }
]
