%%
# machine entries have the following format:
#
# hostname      hwtype  hwaddr              ipaddr          bootfile
mintnuc1        1       {{ mac.mintnuc1 }}  192.168.2.101
mintnuc2        1       {{ mac.mintnuc2 }}  192.168.2.102
mintnuc3        1       {{ mac.mintnuc3 }}  192.168.2.103
mintnuc4        1       {{ mac.mintnuc4 }}  192.168.2.104
