%%
# machine entries have the following format:
#
# hostname      hwtype  hwaddr              ipaddr          bootfile
nuc1            1       {{ mac.nuc1 }}      192.168.2.101
nuc2            1       {{ mac.nuc2 }}      192.168.2.102
nuc3            1       {{ mac.nuc3 }}      192.168.2.103
nuc4            1       {{ mac.nuc4 }}      192.168.2.104
