Host *
  ForwardX11 no
  ForwardX11Trusted no
  IdentitiesOnly yes
  PermitLocalCommand yes
  ServerAliveInterval 30
  ServerAliveCountMax 5
  TCPKeepAlive yes

Host nuc1
  HostName 192.168.3.32
  User johndoe
  Port 22

Host nuc2
  HostName 192.168.3.64
  User johndoe
  Port 22

Host nuc3
  HostName 192.168.3.96
  User johndoe
  Port 22

Host nuc4
  HostName 192.168.3.128
  User johndoe
  Port 22
