Host *
  ForwardX11 no
  ForwardX11Trusted no
  IdentitiesOnly yes
  PermitLocalCommand yes
  ServerAliveInterval 30
  ServerAliveCountMax 5
  TCPKeepAlive yes
Host nuc1
  HostName 192.168.3.11
  User johndoe
  Port 22
Host nuc2
  HostName 192.168.3.12
  User johndoe
  Port 22
Host nuc3
  HostName 192.168.3.13
  User johndoe
  Port 22
Host nuc4
  HostName 192.168.3.14
  User johndoe
  Port 22
