<domain type='kvm'>
  <name>{{ inventory_hostname_short }}-k8s-{{ item }}</name>
  <memory unit='KiB'>8388608</memory>
  <vcpu>2</vcpu>
  <os>
    <type arch='x86_64'>hvm</type>
  </os>
  <clock offset='utc'/>
  <devices>
    <emulator>/usr/bin/kvm-spice</emulator>
    <disk type='volume' device='disk'>
      <driver name='qemu' type='qcow2' cache='none'/>
      <source pool='{{ libvirt_storage_pool }}' volume='{{ inventory_hostname_short }}_k8s_{{ item }}.qcow2'/>
      <target dev='vda' bus='virtio'/>
    </disk>
    <disk type='file' device='cdrom'>
      <source file='/var/lib/libvirt/images/seed_{{ inventory_hostname_short }}_k8s_{{ item }}.iso'/>
      <target dev='hdc'/>
      <readonly/>
    </disk>
    <interface type='network'>
      <mac address='{{ libvirt_network_guest_mac_prefix }}{{ "%02d" | format(host_index | int) }}:{{ "%02d" | format(item | int) }}'/>
      <source network='{{ libvirt_network_name }}' bridge='virbr1'/>
    </interface>
  </devices>
</domain>
