<network>
  <name>kubernetes</name>
  <forward mode='route'>
  </forward>
  <bridge name='virbr1' stp='on' delay='0'/>
  <ip address='{{ libvirt_network_prefix }}{{ host_index }}.1' netmask='255.255.255.0'>
    <dhcp>
      <range start='{{ libvirt_network_prefix }}{{ host_index }}.50' end='{{ libvirt_network_prefix }}{{ host_index }}.254'/>
    </dhcp>
  </ip>
</network>
