<volume type='file'>
  <name>{{ inventory_hostname_short }}_k8s_{{ item }}.qcow2</name>
  <capacity unit='G'>10</capacity>
  <target>
    <format type='qcow2'></format>
    <permissions>
      <owner>0</owner>
      <group>0</group>
      <mode>0600</mode>
      <label>virt_image_t</label>
    </permissions>
  </target>
  <backingStore>
    <path>/var/lib/libvirt/images/{{ guest_os_cloud_image }}.qcow2</path>
    <format type='qcow2'/>
    <permissions>
      <owner>0</owner>
      <group>0</group>
      <mode>0600</mode>
      <label>virt_image_t</label>
    </permissions>
  </backingStore>
</volume>
