default-lease-time 86400;
max-lease-time 86400;

ddns-update-style none;
one-lease-per-client true;

authoritative;

option domain-name "nuc.all";
option domain-name-servers 192.168.3.1, 8.8.8.8, 8.8.4.4;

subnet 192.168.3.0 netmask 255.255.255.0 {
  range 192.168.3.100 192.168.3.200;
  option subnet-mask 255.255.255.0;
  option broadcast-address 192.168.3.255;
  option routers 192.168.3.1;
}

host nuc1 {
  hardware ethernet {{ mac.nuc1 }};
  fixed-address 192.168.3.11;
}

host nuc2 {
  hardware ethernet {{ mac.nuc2 }};
  fixed-address 192.168.3.12;
}

host nuc3 {
  hardware ethernet {{ mac.nuc3 }};
  fixed-address 192.168.3.13;
}

host nuc4 {
  hardware ethernet {{ mac.nuc4 }};
  fixed-address 192.168.3.14;
}
