#!ipxe
isset ${live_endpoint} || set live_endpoint http://192.168.3.1:8080

echo Ubuntu 18.04 LTS preseed installation for Intel NUC {{ host_name }}

set ubuntu_version bionic
set arch_a amd64
set ubuntu_mirror ${live_endpoint}
set mirrorcfg mirror/suite=${ubuntu_version}
set dir ubuntu/dists/${ubuntu_version}-updates/main/installer-${arch_a}/current/images/netboot

set preseed_url ${live_endpoint}/ubuntu/preseed/preseed_{{ host_name }}.cfg
set install_params auto=true priority=critical netcfg/choose_interface={{ network_device }} preseed/url=${preseed_url}

imgfree
kernel ${ubuntu_mirror}/${dir}/ubuntu-installer/${arch_a}/linux ${install_params} ${mirrorcfg} ${console} -- quiet ${params} initrd=initrd.gz
initrd ${ubuntu_mirror}/${dir}/ubuntu-installer/${arch_a}/initrd.gz
boot
