#### Contents of the preconfiguration file (for &releasename;)

### Automatic Installation
d-i auto-install/enable boolean true
d-i debconf/priority select critical

### Localization
d-i debian-installer/language string en
d-i debian-installer/country string DE
d-i debian-installer/locale string en_US.UTF-8
d-i console-setup/ask_detect boolean false
d-i keyboard-configuration/xkb-keymap select de(nodeadkeys)

### Network configuration
d-i netcfg/choose_interface select auto
d-i netcfg/dhcp_timeout string 60
d-i netcfg/dhcp_failed note
d-i netcfg/get_hostname string unassigned-hostname
d-i netcfg/get_domain string unassigned-domain
d-i netcfg/hostname string {{ host_name }}
d-i netcfg/wireless_wep string

### Mirror settings
d-i mirror/country string manual
d-i mirror/http/hostname string archive.ubuntu.com
d-i mirror/http/directory string /ubuntu
d-i mirror/http/proxy string

### Clock and time zone setup
d-i clock-setup/utc boolean true
d-i time/zone string Europe/Berlin
d-i clock-setup/ntp boolean true

### Partitioning
d-i partman-auto/disk string /dev/nvme0n1
d-i partman-auto/method string lvm
d-i partman-lvm/device_remove_lvm boolean true
d-i partman-lvm/confirm boolean true
d-i partman-lvm/confirm_nooverwrite boolean true

# Physical partitions:
# 1. BIOS boot partition: 1 MB
# 2. Boot partition: 250 MB
# 2. LVM, with the following logical volumes
#     - Swap: 100% of RAM
#     - Root partition: rest of space, ext4
d-i partman-auto/expert_recipe string                         \
      boot-root ::                                            \
              1 1 1 free method{ biosgrub } .                 \
              250 250 250 ext2                                \
                      $primary{ } $bootable{ }                \
                      method{ format } format{ }              \
                      use_filesystem{ } filesystem{ ext2 }    \
                      mountpoint{ /boot }                     \
              .                                               \
              100% 2048 100% linux-swap                       \
                      lv_name{ swap }                         \
                      method{ swap } format{ }                \
                      $lvmok{ }                               \
              .                                               \
              256000 256000 256000 ext4                       \
                      lv_name{ root }                         \
                      method{ lvm } format{ }                 \
                      use_filesystem{ } filesystem{ ext4 }    \
                      mountpoint{ / }                         \
                      $lvmok{ }                               \
              .                                               \
              1024 1024 -1 xfs                                \
                      lv_name{ data }                         \
                      method{ lvm } format{ }                 \
                      use_filesystem{ } filesystem{ xfs }     \
                      mountpoint{ /data }                     \
                      $lvmok{ }                               \
              .
d-i partman-auto/choose_recipe select atomic
d-i partman/default_filesystem string ext4
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true

### Account setup
d-i passwd/user-fullname string {{ user.fullname }}
d-i passwd/username string {{ user.login }}
d-i passwd/user-password password {{ user.password }}
d-i passwd/user-password-again password {{ user.password }}
d-i user-setup/allow-password-weak boolean true
d-i user-setup/encrypt-home boolean false

### Apt setup
d-i apt-setup/use_mirror boolean false

### Kernel installation
d-i base-installer/kernel/altmeta string hwe-18.04

### Package selection
tasksel tasksel/first multiselect ubuntu-server
d-i pkgsel/include string openssh-server build-essential
d-i pkgsel/upgrade select none
d-i pkgsel/language-packs multiselect en
d-i pkgsel/install-language-support boolean false
d-i pkgsel/update-policy select none
d-i pkgsel/updatedb boolean true
d-i debian-installer/quiet boolean false
d-i debian-installer/splash boolean false

### Boot loader installation
d-i grub-installer/bootdev string /dev/nvme0n1
d-i grub-installer/only_debian boolean true
d-i grub-installer/with_other_os boolean true
d-i	grub-installer/timeout string 5

### Finishing up the installation
d-i finish-install/reboot_in_progress note

### Preseeding other packages

#### Advanced options
d-i preseed/early_command string kill-all-dhcp; netcfg
d-i preseed/late_command string in-target mkdir /home/{{ user.login }}/.ssh; \
                                in-target sh -c 'echo "{{ user.ssh_pub_key }}" >> /home/{{ user.login }}/.ssh/authorized_keys'; \
                                in-target chown -R {{ user.login }}:{{ user.login }} /home/{{ user.login }}/.ssh;
                                #in-target sh -c 'echo "{{ user.login }} ALL=(ALL) NOPASSWD:ALL" >> /etc/sudoers.d/rc' ; \
                                #in-target systemctl enable serial-getty@ttyS0.service ;
ubiquity ubiquity/summary note
